[Desktop Entry]
Encoding=UTF-8
Name=VeriCoin
Comment=VeriCoin P2P Cryptocurrency
Comment[fr]=VeriCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=VeriCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/vericoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/vericoin;
Categories=Office;
