*~
build
debug
release/*.exe
release/*.cpp
release/*.o
src/quazip/release
src/*.exe
src/solarcoin
src/solarcoind
src/test_solarcoin
src/build.h
solarcoin.files
solarcoin.creator
solarcoin.config
solarcoin.creator.user
solarcoin.includes
#solarcoin.*
solarcoin-qt
solarcoin-qt.pro.*
solarcoin-qt.pro.user
VERSION.json
.autosave
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.a
*.zip
*.pkg
*.dmg
*.prof
src/quazip/libquazip.a
src/quazip/.qmake.stash
*.patch
.solarcoin
.qmake.stash
SolarCoin-Qt.app
#compilation and Qt preprocessor part
*.qm
Makefile
*.Release
*.Debug
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store

!src/leveldb/Makefile
