<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
        <string>SolarCoin-Qt</string>
	<key>CFBundleGetInfoString</key>
	<string>@VERSION@, Copyright © 2009-@YEAR@ OnsightIT Development</string>
	<key>CFBundleIconFile</key>
        <string>solarcoin.icns</string>
	<key>CFBundleIdentifier</key>
        <string>org.solarcoin.SolarCoin-Qt</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
                        <string>com.OnsightIT.SolarCoin</string>
			<key>CFBundleURLSchemes</key>
			<array>
                                <string>solarcoin</string>
			</array>
		</dict>
	</array>
	<key>LSAppNapIsDisabled</key>
        <string>True</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>CFBundleIdentifier</key>
	<string>com.OnsightIT.SolarCoin</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
